<ion-header>
  <ion-toolbar>
    <ion-title>Liste des ingrédients</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button routerLink="/ingredient/new">Création d'un nouveau ingredient</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let ingredient of ingredients">
        <ion-card [routerLink]="['/ingredient', ingredient.id]">
          <ion-card-title>{{ingredient.name}}</ion-card-title>
          <img [src]="ingredient.picturelink" [alt]="ingredient.name">
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>


