<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <ion-img src="../../assets/img/logo_minecraft.png" alt="Logo Minecraft" slot="start"></ion-img>
    <ion-text id="welcome-message">
      <h1>Bienvenue sur Minevolve</h1>
    </ion-text>
    <ion-text class="subtext">
      <p>Apprenez les recettes de crafting de Minecraft d'une façon simple et efficace</p>
    </ion-text>
  </div>
</ion-content>


